---
layout: compress
permalink: /career/
---

<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
  {% include splide_head.html %}
  <!-- Specific splide theme -->
  <link rel="stylesheet" href="../assets/css/splide/themes/splide-skyblue.min.css">
</head>

<body>
  {% include navbar.html %}

  <!--Main Section-->
  <section class="hero is-fullheight" id="career">
    <div class="hero-body">
      <div class="container">

        <div class="section is-small is-flex is-flex-direction-column is-align-items-center ">
          <h1 class="title has-text-centered">My Studies and career</h1>
          <div class="is-flex is-flex-justify-content-center is-align-items-center"">
                      <i class=" fas fa-chevron-left"></i>
            <p class="has-text-centered ml-1 mr-1">
              Swipe left/right to navigate
            </p>
            <i class="fas fa-chevron-right"></i>
          </div>
          <p class="mt-3 is-uppercase has-text-weight-medium has-text-grey has-text-centered">
          </p>
        </div>
        <section class="splide" aria-label="Splide Basic HTML Example">
          <div class="splide__track">
            <ul class="splide__list">
              {% for position in site.positions %}
              <li class="splide__slide">
                <div class="is-flex is-flex-wrap-wrap positionHeader">
                  <figure class="image is-64x64 mr-4">
                    <img src="{{position.thumbnail}}" />
                  </figure>
                  <div class="header">
                    <div class="is-flex is-flex-wrap-wrap">
                      <h2 class="subtitle mb-2"><strong>{{position.period}} |</strong></h2>
                      <h2>{{position.position}}</h2>
                    </div>
                    <h3>
                      <i class="fas fa-link"></i>
                      <a href="{{position.link}}" target="_blank" class="has-text-black">
                        {{position.title}} - {{position.description}}
                      </a>
                    </h3>
                  </div>
                </div>
                <div
                  class="content has-text-justified-desktop has-text-justified-fullhd has-text-justified has-text-justified-tablet has-text-left-mobile">
                  <p>{{ position.content }}</p>
                </div>
              </li>
              {% endfor %}

            </ul>
          </div>
        </section>
        <!-- <div class="columns is-centered is-multiline is-mobile"> -->

        <!--  -->
        <!-- </div> -->
      </div>
    </div>
  </section>

  </div>

  <!--Footer-->
  {% include footer.html %}
</body>

</html>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    Splide.defaults = {
      type: 'fade',
      clones: 2,
      breakpoints: {
        640: {
          arrows: false
        }
      }
    };
    var splide = new Splide('.splide');
    splide.mount();
  });

</script>