---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <div class="flip-card">
    <div id="flipper" class="flip-card-inner">
      <div class="flip-card-front">
        {% include navbar.html %}
        {% include showcase.html %}
        {% include about.html %}
        <!-- {% include contact.html %} -->
        <!--Footer begins here-->
        {% include footer.html %}
      </div>
      <div class="flip-card-back">
        <button class="button" onclick="unflip()">Retour</button>
        <iframe class="unity-player" src="/assets/3D/unity_build/"></iframe>
      </div>
    </div>
  </div>
</body>
<script>
  window.addEventListener("scroll", function (event) {
    var scroll = this.scrollY;
    var item = document.getElementsByClassName('navbar-item');
    if (scroll < 565) {
      item[1].classList.add('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.remove('is-active');
    }
    if (scroll > 565 && scroll < 1130) {
      item[1].classList.remove('is-active');
      item[2].classList.add('is-active');
      item[3].classList.remove('is-active');
    }
    if (scroll > 1130) {
      item[1].classList.remove('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.add('is-active');
    }
  });

  function unflip(){
    var flipper = document.getElementById("flipper");
    flipper.classList.remove("flipped");
  }
</script>

</html>