---
layout: compress
permalink: /projects/:number
---

<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
  {% include splide_head.html %}
  <!-- Specific Splide theme -->
  <link rel="stylesheet" href="../assets/css/splide/themes/splide-skyblue.min.css">
  <script src="https://cdn.babylonjs.com/viewer/babylon.viewer.js"></script>
</head>

<body>
  {% include navbar.html %}

  <section class="hero is-fullheight has-text-centered" id="project">
    <div class="hero-body">
      <div class="container">
        <a href="{{page.url | relative_url}}" class="has-text-black" id="title">
          <h1 class="title has-text-centered is-2 has-text-weight-semibold ">{{page.name}}</h1>
        </a>
        <hr class="has-background-black mb-6">
        <div class="columns is-variable is-5">
          <section class="splide column is-6 project-carrousel" aria-label="Splide Basic HTML Example">
            <div class="splide__track">
              <ul class="splide__list">
                {% unless page.video-link == null %}
                <li class="splide__slide">
                  {% include youtube-embed.html url=page.video-link %}
                </li>
                {% endunless %}

                {% unless page.video-file == null %}
                <li class="splide__slide">
                    <video class="image has-shadow" controls src="{{page.video-file}}" alt="{{post.title}}" id="post-image">
                </li>
                {% endunless %}

                {% unless page.model-3d == null %}
                <li class="splide__slide">
                  <babylon model="{{page.model-3d}}"></babylon>
                </li>
                {% endunless %}
                <!-- Defautl image if no media is referenced -->
                {% if page.image == null and page.model-3d == null and page.video-link==null and page.video-file==null
                %}
                {% assign image_url="/assets/images/my-logo.png"%}
                {% else if %}
                {% assign image_url=page.image%}
                {% endif %}
                
                {% if image_url %}
                <li class="splide__slide">
                    <img class="image has-ratio has-shadow"  src="{{image_url}}" alt="{{post.title}}" id="post-image">
                </li>
                {% endif %}
              </ul>
            </div>
            <div>
              <div class="splide__arrows"></div>
              <div class="splide__pagination"></div>
            </div>
          </section>
          <div
            class="subtitle column is-5 has-text-left-desktop has-text-left-fullhd has-text-left-tablet has-text-center-mobile">
            {% unless page.description.size == 0 %}
            <p id="description" class="content is-small has-text-weight-medium is-uppercase">{{page.description | strip
              | strip_html | strip_newlines }}</p>
            {% endunless %}
            {% unless page.github-link == null %}
            <div class="is-small is-flex container">
              <i class="fab fa-github mr-2"></i>
              <a href="{{page.github-link}}" target="_blank" class="content has-text-black">GitHub repository</a>
            </div>
            {% endunless %}
            {% unless page.duration == null %}
            <div class="is-small is-flex container">
              <i class="fas fa-clock mr-2"></i>
              <p class="content">{{ page.duration }}</p>
            </div>
            {% endunless %}
            {%- assign tags = page.tags -%}
            {%- unless tags.size == 0 -%}
            <p class="subtitle is-uppercase">
              <i class="fas fa-tags"></i>
              {% assign i = 0 %}
              {% for tags in page.tags %}
              <span class="tag is-link">{{page.tags[i]}}</span>
              {% assign i = i | plus:1 %}
              {% endfor %}
            </p>
            {%- endunless -%}
            {% assign words = content | number_of_words %}
          </div>
        </div>
        <div
          class="content has-text-justified-desktop has-text-justified-fullhd has-text-justified has-text-justified-tablet has-text-left-mobile">
          <p>{{ content }}</p>
        </div>
      </div>
    </div>
  </section>
  {% include footer.html %}
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function () {
      var splide = new Splide('.splide');
      splide.mount();
    if (splide.Components.Slides.getLength() <= 1) {
      splide.Components.Arrows.destroy();
    }
    console.log(splide);
  });
</script>